<nav class="navbar navbar-dark" style="background-color: #b10e10; color: white">
    <div class="container px-0 pt-1">
    <a class="navbar-brand mt-0" href="#">
        <picture>
            <source srcset="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,h_100,q_auto,w_200/v1480430014/Logo_White_mx1ik0.png" media="(min-width: 992px)">
            <img src="https://res.cloudinary.com/dcxb6aehjk/image/upload/c_scale,h_60,q_auto,w_120/v1480430014/Logo_White_mx1ik0.png"></img>
        </picture>
    </a>
    <button class="navbar-toggler hidden-lg-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-toggleable-md" id="navbarResponsive">
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item active">
                <%= link_to 'About', '#about', :class => "nav-link", :id =>"about-button" %>
            </li>
            <li class="nav-item active">
                <%= link_to 'Ticket', '#tickets', :class => "nav-link", :id =>"tickets-button" %>
            </li>
            <li class="nav-item active">
                <%= link_to 'Daytime Events', '#agenda', :class => "nav-link", :id =>"agenda-button" %>
            </li>
            <li class="nav-item active">
                <%= link_to 'Night Socials', '#nightlife', :class => "nav-link", :id =>"nightlife-button" %>
            </li>
            <li class="nav-item active">
                <%= link_to 'Barcelona', '#barcelona', :class => "nav-link", :id =>"barcelona-button" %>
            </li>
            <li class="nav-item active">
                <%= link_to 'Contact Us', '#contact', :class => "nav-link", :id =>"contact-button" %>
            </li>
        </ul>
    </div>
    </div>
</nav>