<div class="container-fluid mb-2">
    <div class="row">
        <div class="col-xs-12 mb-2 text-xs-center text-md-left">
            <h4 class="iese mb-0 font-weight-bold">Marketing</h4>
        </div>
    </div>
    <div class="row text-xs-center text-md-left">
        <div class="col-xs-12 col-md-6 mb-2">
            <%= render :partial => 'team/person', locals: {given_name: "Karen", surname: "Cristosomo", nationality: "Philippine", sport: "Runner",
            image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1482937623/6-Marketing-Karen_ucijhv.png", email: "" }%>
        </div>
        <div class="col-xs-12 col-md-6 mb-2">
            <%= render :partial => 'team/person', locals: {given_name: "Kirk", surname: "Lao", nationality: "Philippine", sport: "Fun-Sports Player",
            image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1482937623/6-Marketing-Kirk_yu1hym.png", email: "" }%>
        </div>
    </div>
    <div class="row text-xs-center text-md-left">
        <div class="col-xs-12 col-md-6 mb-2">
            <%= render :partial => 'team/person', locals: {given_name: "José", surname: "Moreno", nationality: "Venezuelan", sport: "Rugby Player/Sailor",
            image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1482937623/6-Marketing-JoseMoreno_njgguk.png", email: "josealberto.moreno@iese.net" }%>
        </div>
        <div class="col-xs-12 col-md-6 mb-2">
            <%= render :partial => 'team/person', locals: {given_name: "Udit", surname: "Pandey", nationality: "Indian", sport: "Rugby Player",
            image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1482937623/6-Marketing-UditP_wdi1cv.png", email: "" }%>
        </div>
    </div>
    <div class="row text-xs-center text-md-left">
        <div class="col-xs-12 col-md-6 mb-2">
            <%= render :partial => 'team/person', locals: {given_name: "Krista", surname: "Victorio", nationality: "Philippine", sport: "Football/Rugby Player",
            image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1482937624/6-Marketing-Krista_ewrqqj.png", email: "" }%>
        </div>
        <div class="col-xs-12 col-md-6 mb-2">
            <%= render :partial => 'team/person', locals: {given_name: "Miguel", surname: "Mangligot", nationality: "Canadian", sport: "Fun-Sports Player",
            image: "https://res.cloudinary.com/dcxb6aehjk/image/upload/q_auto/v1482937623/6-Marketing-MiguelM_bbnzjq.png", email: "" }%>
        </div>
    </div>
</div>